extends layout

block content
  form(name="ordr_entry_frm",action="",method="POST", align="centre", class="ordr_ntry_frm_cls")
    fieldset(align="centre", class="ordr_ntry_fields_cls", name="ordr_ntry_frm_fldst")
      legend Order Entry
      // this should come from a DB along with the right units for the item e.g Sugar-Kg, Milt-Lt etc
      div(name="ordr_wht_dtls_div", class="ordr_wht_dtls_cls", id="ordr_wht_dtls")
        label(name="ordr_wht_dtls_lbl") What #{' '}
        input(type="text", name="order_wht_inpt_txt", placeholder="Nariyal Pani", , onfocus="this.placeholder = ''", onblur="this.placeholder = 'Nariyal Pani'")
        | #{' '}
        img(src="images/global/small_question_mark.gif", title="Pick item that you want to be delivered", name="wht_dtls_hlp_icon_img", id="wht_dtls_hlp_icon_img_id")
        p
      div(name="ordr_qty_dtls_div", class="ordr_qty_dtls_cls", id="ordr_qty_dtls")
        label(name="ordr_qty_dtls_lbl") Quantity #{' '}
        input(type="number", name="ordr_qty", min=1, placeholder="1", , onfocus="this.placeholder = ''", onblur="this.placeholder = '1'")
        | #{' '}
        select(name="ordr_qty_unit", multiple=false)
          option(value="ordr_qty_unit_kg")="Kg"
          option(value="ordr_qty_unit_no")="No"
          option(value="ordr_qty_unit_kg")="Ltr"
        | #{' '}
        img(src="images/global/small_question_mark.gif", title="How much and the correct units displayed here", name="qty_dtls_hlp_icon_img", id="wht_dtls_hlp_icon_img_id")
        p
      div(name="ordr_whn_dtls_div", class="ordr_whn_dtls_cls", id="ordr_whn_dtls")
        label(name="ordr_whn_dtls_lbl") When #{' '}
        input(type="datetime-local", name="ordr_whn_dt", placeholder="01-Jan-1900", onfocus="this.placeholder = ''", onblur="this.placeholder = '01-Jan-1900'")
        | #{' '}
        img(src="images/global/small_question_mark.gif", title="When do you need this delivery?", name="whn_dtls_hlp_icon_img", id="whn_dtls_hlp_icon_img_id")
      p
      div(name="ordr_whr_dtls_div", class="ordr_whr_cls", id="ordr_whr_dtls")
        label(name="ordr_whr_dtls_lbl") Where #{' '}
        input(type="text", name="ordr_addr1", size=53, placeholder="Address Line 1", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Address Line 1'")
        p
        label #{' '}
        input(type="text", name="ordr_addr2", size=53, placeholder="Address Line 2", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Address Line 2'")
        | #{' '}
        img(src="images/global/small_question_mark.gif", title="Where do you need this delivered?", name="whr_dtls_hlp_icon_img", id="whr_dtls_hlp_icon_img_id")
        p
      div(name="ordr_cnfrm_dtls_div", class="ordr_cnfrm_dtls_cls", id="ordr_cnfrm_dtls")
        label(name="ordr_cnfrm_dtls_lbl") Mobile# #{' '}
        input(type="tel", name="ordr_mobl", max="9999999999", placeholder="0000000000", onfocus="this.placeholder = ''", onblur="this.placeholder = '0000000000'")
        | #{' '}
        img(src="images/global/small_question_mark.gif", title="A confirmation code will be sent to you on this mobile number", name="cnfrm_dtls_hlp_icon_img", id="cnfrm_dtls_hlp_icon_img_id")
    p
  // next line brings "Submit" button to centre of page
  p(style="text-align:center;")
    input(type="submit",align="Centre",value="Submit", name="ordr_ntry_sbmt_btn")