body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
    font:150%/1 sans-serif;
    color:green;
}

fieldset {
    padding:1em;
    color:green;
    font:150%/1 sans-serif;
    border:5px solid green;
    border-radius:10px;
}

legend {
    padding: 0.2em 0.5em;
    border:5px solid green;
    color:green;
    font-size:80%;
    text-align:right;
    border-radius:10px;
}

label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
    border-radius:5px;
}

input, textarea {
    font-weight:bold;
    margin:5px;
    color:green;
}
input[type="number"] {
    width:118px;
    color:green;
}

input[type="submit"] {
    font:200%/1 sans-serif;
    border:5px solid green;
    border-radius:10px;
    color:green;
}